<!DOCTYPE html>


<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was create by Clint Gallivan. It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="/img/DSCF3026.JPG">
    {{!-- <video controls="controls" autoplay="yes" width="400" height="300" name="Video Name" src="/img/coolguy.mp4"></video> --}}
  </div>
  {{>footer}}
</body>

</html>